.rotate {
    transition: transform 1s ease;
    transform: rotateY(180deg);
}

.card {
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
    z-index: 1;
    display: inline-block;
}

#deck .card{
    position: absolute;
    top: 0;
    left: 0;
}

.overlay  {
    position: fixed;
    left: 35.5%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("images/backcard.jpg");
    z-index: 2;  
}


.top-left {
    position: absolute;
    top: 0;
    font-size: 1em;
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1em;
}

#icon img {
    display: block;
    margin: auto;
    width: 50%;
    margin-top: 50%;
}


.table_board {
    
        width: 1000px;
        height: 600px;
        background-color: green;
        border-bottom-left-radius: 800px;
        border-bottom-right-radius: 800px;
        border: 8px solid black;
        border-bottom: 20px solid black;
    
        }
    

#deck {
    position: relative;
}

#player {
    
        width: 200px;
        height: 100px;
        background-color:#1b5e1c;
        border: 1px solid black;
        margin : auto;
        z-index: -1;
        }

#dealer {
    
        width: 200px;
        height: 100px;
        display: block;
        margin : auto;
        z-index: 0;
    
        }
    



