.rotate {
    transition: transform 1s ease;
    transform: rotateY(180deg);
}

#ace-spades {
    position: fixed;
    left: 10%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
   
}

#king-spades {
    position: fixed;
    left: 10.2%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;

}

#queen-spades {
    position: fixed;
    left: 10.4%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#jack-spades {
    position: fixed;
    left: 10.6%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#ten-spades {
    position: fixed;
    left: 10.8%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}


#nine-spades {
    position: fixed;
    left: 11%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#eight-spades {
    position: fixed;
    left: 11.2%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#seven-spades {
    position: fixed;
    left: 11.4%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#six-spades {
    position: fixed;
    left: 11.6%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#five-spades {
    position: fixed;
    left: 11.8%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#four-spades {
    position: fixed;
    left: 12%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#three-spades {
    position: fixed;
    left: 12.2%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#two-spades {
    position: fixed;
    left: 12.4%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}
/* HEARTS****************************************************************************************
**/

#ace-hearts {
    position: fixed;
    left: 12.6%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#king-hearts {
    position: fixed;
    left: 12.8%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#queen-hearts {
    position: fixed;
    left: 13%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#jack-hearts {
    position: fixed;
    left: 13.2%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#ten-hearts {
    position: fixed;
    left: 13.4%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#nine-hearts {
    position: fixed;
    left: 13.6%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#eight-hearts {
    position: fixed;
    left: 13.8%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#seven-hearts {
    position: fixed;
    left: 14%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#six-hearts {
    position: fixed;
    left: 14.2%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#five-hearts {
    position: fixed;
    left: 14.4%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#four-hearts {
    position: fixed;
    left: 14.6%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#three-hearts {
    position: fixed;
    left: 14.8%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#two-hearts {
    position: fixed;
    left: 15%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}


/* DIAMONDS****************************************************************************************
**/

#ace-diamonds {
    position: fixed;
    left: 15.2%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#king-diamonds  {
    position: fixed;
    left: 15.4%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#queen-diamonds  {
    position: fixed;
    left: 15.6%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#jack-diamonds  {
    position: fixed;
    left: 15.8%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#ten-diamonds  {
    position: fixed;
    left: 16%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#nine-diamonds  {
    position: fixed;
    left: 16.2%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#eight-diamonds  {
    position: fixed;
    left: 16.4%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#seven-diamonds  {
    position: fixed;
    left: 16.6%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#six-diamonds  {
    position: fixed;
    left: 16.8%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#five-diamonds  {
    position: fixed;
    left: 17%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#four-diamonds  {
    position: fixed;
    left: 17.2%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#three-diamonds  {
    position: fixed;
    left: 17.4%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#two-diamonds  {
    position: fixed;
    left: 17.6%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

/* CLUBS****************************************************************************************
**/

#ace-clubs {
    position: fixed;
    left: 17.8%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#king-clubs  {
    position: fixed;
    left: 18%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#queen-clubs  {
    position: fixed;
    left: 18.2%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#jack-clubs  {
    position: fixed;
    left: 18.4%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#ten-clubs  {
    position: fixed;
    left: 18.6%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#nine-clubs  {
    position: fixed;
    left: 18.8%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#eight-clubs  {
    position: fixed;
    left: 19%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#seven-clubs  {
    position: fixed;
    left: 19.2%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#six-clubs  {
    position: fixed;
    left: 19.4%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#five-clubs  {
    position: fixed;
    left: 19.6%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#four-clubs  {
    position: fixed;
    left: 19.8%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#three-clubs  {
    position: fixed;
    left: 20%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
}

#two-clubs  {
    position: fixed;
    left: 35.5%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
    
}


.overlay  {
    position: fixed;
    left: 35.5%;
    top: 10%;
    height: 7em;
    width: 4em;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("images/backcard.jpg");
    z-index: 2;

    
    
}






.top-left {
    position: absolute;
    top: 0;
    font-size: 1em;
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1em;
}

#icon img {
    display: block;
    margin: auto;
    width: 50%;
    margin-top: 50%;
}


.container {
    
        width: 1500px;
        height: 600px;
        background-color: green;
        border-bottom-left-radius: 800px;
        border-bottom-right-radius: 800px;
        border: 8px solid black;
        border-bottom: 20px solid black;
    
        }
    


